node_modules
npm-debug.log*
dist
.env
.DS_Store
.idea
.vscode
*
!.gitignore
!README.md
!package.json
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!postcss.config.cjs
!tailwind.config.cjs
!index.html
!src/
!src/**
!public/
!public/**
