@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  margin: 0;
  font-family: theme("fontFamily.sans");
  background-color: #f8fafc;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
